<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css"> 
    
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    
    <script src="/js/home.js" defer></script>
</head>
<body>
    <header>
        <h1>Can I Recycle THAT?</h1>
        <nav class="header-nav">
            <a href="/" class="nav-link">Home</a>
            <a href="/about" class="nav-link">About</a>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
    
    <footer>
        <p>2026. No rights reserved.</p>
    </footer>
</body>
</html>