<div class="container">
    

    {{#if renderResult}}
        {{#if result.isRecyclable}}
            <p>Result: Recyclable</p>
        {{else}}
            <p>Result: Not Recyclable</p>
        {{/if}}
        {{#if result.confidence}}
            <p>Confidence: {{result.confidence}}%</p>
        {{/if}}
    {{else}}
        <p>No result to display yet. Please upload an image.</p>
    {{/if}}

</div>
